<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Peliculas | Series</title>
</head>
{% if user.is_authenticated %}
<body>
   <h1>Busqueda de Peliculas y Series en IMDb</h1>
   <a href="/">Home</a>
   <a href="/perfil">Mi Perfil | {{ user.get_username }}</a>

    {% block content %}

    {% endblock %}
{% else %}
<h1> Para acceder a la pagina debe registrarse </h1>
</body>
{% endif %}
</html>